[submodule "pi-gen"]
	path = pi-gen
	url = https://github.com/RPi-Distro/pi-gen.git
[submodule "stage9/99-confinit/config"]
	path = stage9/99-confinit/config
	url = https://github.com/Tknika/iombian-confinit.git
[submodule "stage9/11-iombian-config-file-handler/iombian-config-file-handler"]
	path = stage9/11-iombian-config-file-handler/iombian-config-file-handler
	url = https://github.com/Tknika/iombian-config-file-handler.git
[submodule "stage9/12-iombian-bluetooth-configurator/iombian-bluetooth-configurator"]
	path = stage9/12-iombian-bluetooth-configurator/iombian-bluetooth-configurator
	url = https://github.com/Tknika/iombian-bluetooth-configurator.git
[submodule "stage9/13-iombian-serial-configurator/iombian-serial-configurator"]
	path = stage9/13-iombian-serial-configurator/iombian-serial-configurator
	url = https://github.com/Tknika/iombian-serial-configurator.git
[submodule "stage9/14-iombian-remote-configurator/iombian-remote-configurator"]
	path = stage9/14-iombian-remote-configurator/iombian-remote-configurator
	url = https://github.com/Tknika/iombian-remote-configurator.git
[submodule "stage9/16-iombian-installed-services-downloader/iombian-installed-services-downloader"]
	path = stage9/16-iombian-installed-services-downloader/iombian-installed-services-downloader
	url = https://github.com/Tknika/iombian-installed-services-downloader.git
[submodule "stage9/15-iombian-installed-services-handler/iombian-installed-services-handler"]
	path = stage9/15-iombian-installed-services-handler/iombian-installed-services-handler
	url = https://github.com/Tknika/iombian-installed-services-handler.git
[submodule "stage9/17-iombian-updatable-services-handler/iombian-updatable-services-handler"]
	path = stage9/17-iombian-updatable-services-handler/iombian-updatable-services-handler
	url = https://github.com/Tknika/iombian-updatable-services-handler.git
[submodule "stage9/19-iombian-display-handler/iombian-display-handler"]
	path = stage9/19-iombian-display-handler/iombian-display-handler
	url = https://github.com/Tknika/iombian-display-handler.git
