[Unit]
Description=Confinit intermediate files from /%I
DefaultDependencies=no
After=local-fs.target
Before=shutdown.target
Wants=confinit-boot@%i.service
After=confinit-boot@%i.service
Conflicts=shutdown.target
ConditionFileIsExecutable=/bin/confinit
ConditionPathExists=/%I/.confinit-intermediate.yml
# RequiresMountsFor=/boot

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal
User=root
Group=root
ExecStart=/bin/confinit --config /%I/.confinit-intermediate.yml
PrivateTmp=yes

[Install]
WantedBy=multi-user.target